.parent {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.parent div {
	color: rgb(24, 24, 24);
	text-align: center;
}
.parent div h1 {
	font-size: 72px;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 17px;
}
.parent div .button {
	display: inline-block;
	border: none;
	color: rgb(255, 255, 255);
	text-decoration: none;
	background: rgb(255, 174, 0);
	padding: 21px 57px;
	font-size: 18px;
	border: 1px solid rgb(221, 151, 0);
	box-sizing: border-box;
	box-shadow: 0px 0px 0px 0px;
	border-radius: 5px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color 0.1s ease;
	margin-top: 92px;
	cursor: pointer;
}
.parent div .button:focus, .parent div .button:hover {
	text-decoration: none;
	box-shadow: 0px 0px 73px -10px rgb(255, 174, 0);
}